<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hy.easyveggy.menu.model.vo.Menu" alias="Menu"/>
		<typeAlias type="com.hy.easyveggy.review.model.vo.Review" alias="Review"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/mapper/menuMapper.xml"/>
		<mapper resource="/mybatis/mapper/reviewMapper.xml"/>
	</mappers>
</configuration>
