<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
	<select id="selectReview" resultType="Review">
		select * from EV_REVIEW inner join EV_MEMBER using(USER_ID) where MENU_ID = #{menuId}
	</select>
	
	<insert id="insertReview" parameterType="Review">
		insert into EV_REVIEW values(0, null, #{userId}, sysdate, #{revContent}, ${revStar}, #{menuId}, null, null)
	</insert>
</mapper>